$colors: (
    body: hsl(0, 0%, 96%),
    primary-white: hsl(0, 0%, 100%),
    primary-dark: hsl(0, 0%, 0%),
    secondary-gray: hsla(0, 0%, 51%, 1),
    secondary-light-gray: hsla(180, 4%, 95%, 1),
    accent-blue: hsla(221, 83%, 53%, 1), 
    accent-green: hsla(146, 64%, 36%, 1),
    accent-red: hsla(0, 79%, 63%, 1),
    accent-orange: hsla(28, 87%, 62%, 1), 
    accent-purple: hsla(271, 70%, 60%, 1)
);

@each $color, $value in $colors {
    @if $color == primary-dark or $color == secondary-gray or $color == primary-white {
        .clr-#{$color} {
            color: $value;
        }
    }
}
