<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracker App</title>
    <script src="https://kit.fontawesome.com/6b07dad4d6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="aside__toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <header class="header">
    </header>

    <main class="main">
    </main>

    <aside class="aside-bar">
      <h1 class="page-logo | clr-primary-dark fs-large-100 fw-800"><span class="highlight">Bud</span>get</h1>
    </aside>

    <script src="/scripts/const.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/index.js"></script>

    <div class="overlay"></div>
  </body>
</html>
